# API Configuration
PORT=3000

# Database Configuration (PostgreSQL)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
# Use 'localhost' when running the API locally, or 'db' when running within docker-compose
DATABASE_URL="postgresql://neondb_owner:npg_A1Wq2NcTMnBZ@ep-orange-hill-atgz8m26-pooler.c-9.us-east-1.aws.neon.tech/booking_platform?sslmode=require&channel_binding=require"

# Authentication
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES=1d
